/* src/pages/Order.css */

.order-page {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-beige);
}

.order-main {
  max-width: 960px;
  margin: 24px auto;
  padding-inline: 16px;
}
